.tweetsContainer{
    display: grid;
    grid-template-columns: 23rem 25rem 25rem;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 10px;
     
}

.card{
    display: flex;
    /* border: none; */
}

.card div{
    width: 100%;
    /* height: 150px; */

}

* {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.userInput{
    border-radius: 10px;
    border: 0.8px solid black;
    padding: 10px;
    width: 30%;
}


.ResponsePara{
    width: 85%;
    text-align: left;
    margin-left: 7%;
    font-size: 1.2em;
    border: 1.2px solid rgb(187, 187, 250);
    border-radius: 20px;
    padding: 1% 3% ;
    white-space: 20px;
    display: flex;
    justify-content: space-around;
    
}

.getPollsBtn{
    
    padding: 8px;
    border-radius: 6px;
}

.MainContainer{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    
}

.MainContainer input{
    margin: 10px;
    padding: 10px;   
}

.inputTagDiv{
    border-radius: 20px;
    padding: 10px;
    width: 35%;
}

.LoaderClass{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.filtersDiv{
    width: 95%;
    margin-left: 3%;
    font-size: 1.1em;
    /* border: 2px solid rgb(187, 187, 250); */
    border-radius: 20px;
    padding: 2% 3% ;
    float: center;
}
 .FiltersPara{
    padding-right: 83%;
}

.showFilterBtn{
    align-items: left;
    float: right;
    padding: 10px;
    margin-right: 6%;
    border-radius: 10px;
    margin-top: 8px;
    /* margin-bottom: 10px; */
}

.ApplyFilterBtn ,.askAIBtn{
    padding: 6px;
    border-radius: 6px;
}